body{
margin: 1;
padding:20 0 0 0;

font-family:Verdana,sans-serif;
background: url('12.jpg');
background-repeat: repeat;

}
#header{
margin:1 auto;
width: 95%;
height: 260px;
background: url('1234.jpg') no-repeat;

background-size:100% ;

}
#tot{
margin :1 auto;
padding:20px 0  0  0;
position: relative;
background-color: rgb(125,125,200);
width:95%;
}
.titlu_cap{
font-family: "Times New Roman",sans-serif;
font-size:30px;
color:purple;
top:10px;
left:20px;
position:relative;
}
#continut{
background-color: rgb(200,50,250);
}
#continut p
{
margin: 9px;
text-align: justify;
}
#continut p::first-letter
{
color: yellow;
font-size:xx-large;
font-family:"Brush ScriptMT",cursive;
float:left;
}
#footer
{
margin: 2 auto;
width: 90%;
}
#footer span
{
font-family: 'Lucida grande', sans-serif;
font-weight:bold;
font-size:large;
color: yellow;
}
#menu
{
margin: 5 20px;
height:30px;
padding: 5px 0;
}
#menu ul
{
height: 18px;
margin:12;
padding:8px;
}
#menu ul li
{
list-style: none;
display:inline;
}
#menu ul li a:link,#menu ul li a:active,#menu ul li a:visited
{
color:white;
text-decoration: none;
padding: 10px 7px 10px 7px;
}
#menu ul li a:hover
{
color: purple;
background-color:yellow;
}

